@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<ChildComponent Title="Panel Title from Parent"
                OnClick="@ShowMsg"
                bind-Year="@ParentYear">
    Content of the child component is supplied
    by the parent component.
</ChildComponent>

<input type="text" bind-value-oninput="@msgText" />
<br />
<input bind="@StartDate" format-value="dd-yyyy-MMM" />

<p>
    <b>@msgText</b>
</p>

@functions {

    private string msgText;

    private DateTime StartDate = new DateTime(2020, 2, 1);

    
    private int ParentYear { get; set; } = 1978;

    private void ShowMsg(UIMouseEventArgs e)
    {
        msgText = DateTime.Now.ToString();
        ParentYear = 2000;
    }
}

